@font-face {
    font-family: 'vocalbold';
    src: url('vocal_web-webfont.eot');
    src: url('vocal_web-webfont.eot?#iefix') format('embedded-opentype'),
         url('vocal_web-webfont.woff2') format('woff2'),
         url('vocal_web-webfont.woff') format('woff'),
         url('vocal_web-webfont.svg#vocalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
