/**
 * Override Bootstrap styles that you can't modify via variables here.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,cyrillic);

html {
  font-size: 1.125em;
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body.fonts-loaded {
  font-family: 'vocalbold', 'Lato', Helvetica, sans-serif;

  h1,h2,h3,h4,h5,h6{
    font-family: 'vocalbold', 'Lato', 'Helvetica Neue', Helvetica, serif;
  }

  code {
    font-family: 'Roboto Mono', 'Consolas', monospace;
  }
}

body {
  background-color: rgb(253, 253, 253);
  font-weight: 400;
  line-height: 1.45;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #3D3C3C;
  height: 100%;
  //Ugly hack. TODO: redo this
  & > div,
  & > div > div,
  & > div > div > div 
  { height: 100% }
}

p {
  margin-top: 0.6em;
  margin-bottom: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, serif;
  font-weight: inherit;
  line-height: 1.2;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  margin-top: 0;
  font-size: 2.827em;
}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

h5 {font-size: 20px;}

h6 {font-size: 18px;}

a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid rgba(100,100,100,0.3);
  &:hover,
  &:active,
  &:focus {
    color: #1c701b;
    border-color: #1c701b;
  }
}

ul,
ol {
  margin-top: 0.7em;
  margin-bottom: 1.414em;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.414em;
  margin-bottom: 1.414em;
}

/* Tables */
table {
  margin-top: 1.414em;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}

.hljs {
  background-color:#F1F0ED;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}       

code {
  padding: 12px 16px;
  border-radius: 3px;
  display: block;
  font-family: Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

/* Hug the block above you */
.hug {
  margin-top: 0;
}

.page-title {
  color: rgba(77, 77, 77, 0.65);
  line-height: 1;
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
