.title {
  color: #646262;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 2.35em;
  position: relative;
  a {
    text-decoration: none;
    border: none;
  }
  a:hover {
    color: #222;
  }
  &:hover::before {
    content: '>';
    display: inline-block;
    position: absolute;
    left: -24px;
    top: 6px;
    font-size: 26px;
    font-family: 'Roboto Mono', monospace;
    color:#222;
  }
}

.meta {
  margin-bottom: 12px;
  font-size: 16px;
}
.date {
  display: inline-block;
  margin-right: 4px;
  color: #646262;
  font-style: italic;
}

.author {
  border:none;
  span {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(100,100,100,0.3);
  }
  font-style: italic;
  color: #555;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: #1c701b;
  }
}
